body{
    background-color: #F5F5F5;
    font-family: 'Merriweather', serif;
    color: #303030;
    line-height: 25px;
    margin: 0px;
}
h1 h2 h3{
    font-family: 'Lora', serif;
}
#main{
    margin: 0px;
    justify-content: center;
}
#main h2{
    text-align: center;
}
#title{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}
#img-div{
    background-color: white;
    width: 100%;
    text-align: center;
}
#img-caption{
   padding: 10px;
}
#image{
    max-width: 100%; 
  display: block; 
  height: auto;
  margin: auto;

}
.date{
    margin-bottom: 20px;
    margin-top: 20px;
}
ul{
   margin: 0 auto;
   max-width: 550px;
   text-align: left;
}
li{
    margin: 10px;
}
.citation{
    font-style: italic;
}

.link-externe{
    font-weight: bold;
}

.footer{
    text-align: center;
}